# editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{html,css,less,scss}]
indent_style = tab
indent_size = 4

[*.{js,json,yml}]
indent_style = space
indent_size = 2

[*.{php,ini}]
indent_style = space
indent_size = 4
